<template>
    <div class="calendar">
        <div class="header">
            <div class="header-button">
                <div class="button-left">
                    <button
                        class="button"
                        :class="{ active: chekToday() }"
                        @click="setToday"
                    >
                        Сегодня
                    </button>
                    <button class="button" @click="changeDatePrev(period)">
                        Назад
                    </button>
                    <button class="button" @click="changeDateNext(period)">
                        Вперед
                    </button>
                </div>
                <div class="button-right">
                    <button
                        class="button"
                        :class="{ active: period === 'month' }"
                        @click="period = 'month'"
                    >
                        Месяц
                    </button>
                    <button
                        class="button"
                        :class="{ active: period === 'week' }"
                        @click="period = 'week'"
                    >
                        Неделя
                    </button>
                    <button
                        class="button"
                        :class="{ active: period === 'day' }"
                        @click="period = 'day'"
                    >
                        День
                    </button>
                </div>
            </div>
            <div class="header-info">
                <h3 class="header-title">{{ title }}</h3>
            </div>
        </div>
        <Month
            v-if="period === 'month'"
            :date="date"
            :nameDays="shortNameDays"
            :key="key"
            :eventArr="eventArr"
            @getEventTime="setEventTimeAndShowDialogEvent"
        />
        <Week
            v-if="period === 'week'"
            :date="date"
            :nameDays="shortNameDays"
            :hours="hours"
            :eventArr="eventArr"
            :key="key"
            @getTitle="setTitleCalendar"
            @getEventTime="setEventTimeAndShowDialogEvent"
        />
        <Day
            v-if="period === 'day'"
            :date="date"
            :nameDays="shortNameDays"
            :hours="hours"
            :eventArr="eventArr"
            :key="key"
            @getEventTime="setEventTimeAndShowDialogEvent"
        />
        <EventDialog
            v-if="showDialog"
            @closeDialog="showDialog = !showDialog"
            :eventTime="eventTime"
            @addEvent="addEvent"
        />
    </div>
</template>
<script>
import Month from "@/view/calendar/Month.vue";
import Week from "@/view/calendar/Week.vue";
import Day from "@/view/calendar/Day.vue";
import EventDialog from "@/view/calendar/EventDialog.vue";
import calendar from "@/mixins/calendar.mixin";

export default {
    name: "Calendar",
    data: () => ({
        period: "month",
        date: new Date(),
        key: 0,
        shortNameDays: ["ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ", "ВС"],
        nameMonth: [
            "Январь",
            "Февраль",
            "Март",
            "Апрель",
            "Май",
            "Июнь",
            "Июль",
            "Август",
            "Сентябрь",
            "Октябрь",
            "Ноябрь",
            "Декабрь",
        ],
        hours: [],
        title: "",
        eventTime: {},
        showDialog: false,
        eventArr: [],
    }),
    mixins: [calendar],
    created() {
        this.hours = this.getArrWithtHours();
        this.setTitleCalendar();
    },
    methods: {
        getArrWithtHours() {
            let result = [];
            for (let i = 0; i < 24; i++) {
                result.push(this.convertTwoDigitNumber(i) + ":00");
            }
            return result;
        },

        setTitleCalendar(arrWeek) {
            if (this.period === "month") {
                this.title =
                    this.nameMonth[this.date.getMonth()] +
                    " " +
                    this.date.getFullYear();
            } else if (arrWeek && this.period === "week") {
                this.title = `${arrWeek[0].day} ${
                    this.nameMonth[arrWeek[0].month]
                } ${arrWeek[0].year} - ${arrWeek[6].day} ${
                    this.nameMonth[arrWeek[6].month]
                } ${arrWeek[6].year}`;
            } else if (this.period === "day") {
                this.title =
                    this.date.getDate() +
                    " " +
                    this.nameMonth[this.date.getMonth()] +
                    " " +
                    this.date.getFullYear();
            }
        },

        changeDatePrev(current) {
            if (current === "month") {
                this.date.setMonth(this.date.getMonth() - 1);
            } else if (current === "week") {
                this.date.setDate(this.date.getDate() - 7);
            } else if (current === "day") {
                this.date.setDate(this.date.getDate() - 1);
            }
            this.key++;
            this.setTitleCalendar();
        },

        changeDateNext(current) {
            if (current === "month") {
                this.date.setMonth(this.date.getMonth() + 1);
            } else if (current === "week") {
                this.date.setDate(this.date.getDate() + 7);
            } else if (current === "day") {
                this.date.setDate(this.date.getDate() + 1);
            }
            this.key++;
            this.setTitleCalendar();
        },

        chekToday() {
            return (
                this.date.setHours(0, 0, 0, 0) ===
                new Date().setHours(0, 0, 0, 0)
            );
        },

        setToday() {
            this.date = new Date();
            this.key++;
        },

        setEventTimeAndShowDialogEvent(obj) {
            this.eventTime = obj;
            this.showDialog = !this.showDialog;
        },

        addEvent(obj) {
            this.eventArr.push(obj);
            this.eventArr.sort(
                (a, b) => parseFloat(a.startTime) - parseFloat(b.startTime)
            );
            this.showDialog = false;
        },
    },
    watch: {
        period() {
            this.setTitleCalendar();
        },
    },
    components: {
        Month,
        Week,
        Day,
        EventDialog,
    },
};
</script>
<style scoped>
.calendar >>> * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.calendar {
    max-width: 1024px;
    margin: 20px auto;
}

.header-button {
    display: flex;
    justify-content: space-between;
}

.header-info {
    padding: 15px 0 30px 0;
}

.button {
    padding: 8px 18px;
    border: 1px solid #d7dae2;
    background: #ffffff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 5%);
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header-button .button:not(:last-child) {
    border-right: none;
}

.header-button .button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.header-button .button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.button:hover {
    background-color: #fcfcfc;
    color: #3b86ff;
}

.button.active {
    color: #3b86ff;
}

.header-title {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .header-button {
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-left {
        margin-bottom: 10px;
    }
}
</style>
