<template>
    <div class="day">
        <div class="day-header">{{ title }}</div>
        <div class="day-body">
            <div class="line" ref="line"></div>
            <div class="hour-info">
                <div class="day-hour">Весь день</div>
                <div
                    class="day-hour"
                    v-for="hour in hours"
                    :key="hour"
                    :style="{ 'font-weight': setFontWeigthBold(hour) }"
                >
                    {{ hour }}
                </div>
            </div>
            <div class="hour-event" :class="addClassToday(date)">
                <div class="day-hour" @click="createdEventTime">
                    <span>all hour</span>
                </div>
                <div
                    class="day-hour"
                    v-for="hour in hours"
                    :key="hour"
                    @click="createdEventTime(hour)"
                >
                    <span> {{ hour }}</span>
                    <div class="event">
                        <div
                            v-for="itm in showEvent(hour, date, eventArr)"
                            class="event-item"
                            :key="itm.key"
                            :style="{ height: itm.height, top: itm.top }"
                            @click.stop
                            :title="itm.startTime + '-' + itm.shortName"
                        >
                            ({{ itm.startTime }} - {{ itm.endTime }}) :
                            {{ itm.shortName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import calendar from "@/mixins/calendar.mixin";
export default {
    name: "day",
    props: ["date", "nameDays", "hours", "eventArr"],
    data: () => ({
        title: "",
    }),
    created() {
        this.title = this.getTitle(this.date);
    },
    mounted() {
        this.setLineParemetrs(this.$refs.line);
    },
    mixins: [calendar],
    methods: {
        getTitle(date) {
            return (
                this.nameDays[this.getPositionDayOnWeekRu(date.getDay() - 1)] +
                " " +
                this.convertTwoDigitNumber(date.getDate()) +
                "/" +
                this.convertTwoDigitNumber(date.getMonth() + 1)
            );
        },

        getPositionDayOnWeekRu(val) {
            if (val == -1) return 6;
            return val;
        },

        createdEventTime(startTime) {
            let time = "";
            let endTime = "";
            const day =
                this.date.getFullYear() +
                "-" +
                this.convertTwoDigitNumber(this.date.getMonth() + 1) +
                "-" +
                this.convertTwoDigitNumber(this.date.getDate());
            if (startTime) {
                time = startTime.split(":");
                endTime = this.convertTwoDigitNumber(+time[0] + 1) + ":00";
            }
            if (endTime === "24:00") endTime = "00:00";
            this.$emit("getEventTime", { day, startTime, endTime });
        },
    },
};
</script>
<style scoped>
.day {
    border: 1px solid #eaf0f4;
}

.day-header {
    padding: 15px 0;
    border-bottom: 1px solid #eaf0f4;
    background-color: #f5f6fa;
    color: #a3a6b4;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.day-body {
    position: relative;
    display: flex;
}

.day-hour {
    position: relative;
    padding: 15px 0;
    background-color: #ffffff;
    color: #4d4f5c;
    text-align: center;
    font-family: inherit;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.day-hour:not(:last-child) {
    border-bottom: 1px solid #eaf0f4;
}

.day-hour span {
    visibility: hidden;
}

.hour-info {
    width: 9%;
}

.hour-event {
    width: 91%;
}

.hour-info .day-hour {
    border-right: 1px solid #eaf0f4;
}

.hour-event span {
    visibility: hidden;
}

.hour-event .day-hour:hover {
    background: #fcfcfc;
}

.today .day-hour {
    /* background-color: #f5f6fa; */
    background: #fad60e25;
}

.line {
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 9%;
    width: 91%;
    height: 1px;
}

.line:before,
.line:after {
    content: "";
    position: absolute;
    display: block;
    background: #3b86ff;
}

.line:before {
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.line:after {
    top: -1px;
    left: 1px;
    width: 100%;
    height: 2px;
}

.event {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
}

.event-item {
    position: relative;
    z-index: 100;
    flex-grow: 1;
    min-height: 18px;
    margin: 0 1px;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #3b86ff;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .hour-info {
        width: 16%;
    }

    .line {
        left: 15%;
        width: 85%;
    }
}

@media screen and (max-width: 425px) {
    .hour-info {
        width: 27%;
    }

    .line {
        left: 23%;
        width: 77%;
    }
}
</style>