<template>
    <div class="event">
        <div class="out" @click="close"></div>
        <form>
            <div class="event-header">
                <h4>Добавить событие</h4>
                <button @click.prevent="close" class="close"></button>
            </div>
            <div class="event-body">
                <div class="event-fields">
                    <div class="input">
                        <label for="date">Дата</label
                        ><input
                            placeholder="Дата"
                            type="date"
                            required="required"
                            id="date"
                            v-model="date"
                        />
                    </div>
                    <div class="input-group">
                        <label>Время</label>
                        <div class="input">
                            <label for="startTime">Начало</label
                            ><input
                                placeholder="Start Time"
                                type="time"
                                required="required"
                                id="startTime"
                                v-model="startTime"
                            />
                        </div>
                        <div class="input">
                            <label for="endTime">Конец</label
                            ><input
                                placeholder="End Time"
                                type="time"
                                required="required"
                                id="endTime"
                                v-model="endTime"
                            />
                        </div>
                    </div>
                    <div class="input">
                        <label for="shortName">Название</label
                        ><input
                            placeholder="Название"
                            type="text"
                            required="required"
                            id="shortName"
                            v-model="shortName"
                        />
                    </div>
                </div>
            </div>
            <div class="event-footer">
                <button type="submit" class="submit" @click="onSubmit">
                    Добавить
                </button>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    name: "eventTime",
    props: ["eventTime"],
    data: () => ({
        date: "",
        startTime: "",
        endTime: "",
        shortName: "",
    }),
    created() {
        this.setParametrs();
    },
    methods: {
        onSubmit(e) {
            if (
                !this.date ||
                !this.startTime ||
                !this.endTime ||
                !this.shortName
            )
                return;

            if (this.chekedTime() === false) {
                e.preventDefault();
                return;
            }
            e.preventDefault();
            const events = {
                date: this.date,
                startTime: this.startTime,
                endTime: this.endTime,
                shortName: this.shortName,
            };
            this.$emit("addEvent", events);
        },
        chekedTime() {
            const startTimeArr = this.startTime.split(":");
            const endTimeArr = this.endTime.split(":");
            if (+startTimeArr[0] > +endTimeArr[0]) {
                alert("Введите корректно время");
                return false;
            } else if (
                startTimeArr[0] == endTimeArr[0] &&
                +startTimeArr[1] > +endTimeArr[1]
            ) {
                alert("Введите корректно время");
                return false;
            }
        },
        close() {
            this.$emit("closeDialog");
        },
        setParametrs() {
            this.date = this.eventTime.day;
            this.startTime = this.eventTime.startTime;
            this.endTime = this.eventTime.endTime;
        },
    },
};
</script>

<style scoped>
.event {
    position: fixed;
    z-index: 997;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}
.out {
    position: absolute;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
form {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 500px;
    background: #ffffff;
    box-shadow: 0 0 6px rgb(0 0 0 / 40%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.event-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 1px solid #eaf0f4;
}

.event-header h4 {
    margin: 10px 0;
    color: #2c3e50;
    font-weight: 500;
    font-size: 16px;
}

.close {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: auto;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
}

.close::before,
.close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #bcbccb;
    transform-origin: center center;
}

.close::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.close::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.event-body {
    max-height: 550px;
    padding: 10px 20px;
}

.event-fields {
    display: flex;
    flex-wrap: wrap;
}

.input {
    width: 100%;
    padding: 10px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    color: #2c3e50;
    font-size: 16px;
}

.input input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #e8e9ec;
    border-radius: 4px;
    font-family: inherit;
}

.input textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 55px;
    padding: 10px 12px;
    border: 1px solid #e8e9ec;
    border-radius: 4px;
    font-family: inherit;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.input-group label {
    width: 100%;
}

.input-group .input {
    flex: 1;
}

.input-group .input:first-of-type {
    padding-left: 0;
}

.input-group .input:last-of-type {
    padding-right: 0;
}

.event-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 1px solid #eaf0f4;
}

.submit {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    background-color: #3b86ff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%);
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit:hover {
    background-color: #963bff;
}
</style>