<template>
    <div>
        <div class="month-header">
            <div class="month-day" v-for="day in nameDays" :key="day">
                {{ day }}
            </div>
        </div>
        <div class="month-body">
            <div
                class="month-days"
                v-for="day in days"
                :key="day.key"
                :class="day.class"
                @click="createdEventTime(day.date)"
            >
                <div class="day">{{ day.day }}</div>
                <div class="event">
                    <div
                        v-for="itm in showEventOnMonth(day.date, eventArr)"
                        class="event-item"
                        :key="itm.key"
                        :style="{ height: itm.height, top: itm.top }"
                        @click.stop
                        :title="itm.startTime + '-' + itm.shortName"
                    >
                        {{ itm.startTime }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import calendar from "@/mixins/calendar.mixin";
import randomKey from "@/untils/randomKey";
export default {
    name: "Month",
    props: ["date", "nameDays", "eventArr"],
    data: () => ({
        days: [],
    }),
    created() {
        this.days = this.generateArrWithDaysOnMonth(
            this.date.getMonth(),
            this.date.getFullYear()
        );
    },
    mixins: [calendar],
    methods: {
        generateArrWithDaysOnMonth(month, year) {
            let result = [];
            let counter = 0;
            const curDate = new Date(year, month, 0, 0, 0, 0, 0);
            const startDatOffset = curDate.getDay() * -1 + 1;
            const numberOfMonth = this.getNumberOfWeeks(year, month) * 7;
            for (let day = 0; day < numberOfMonth; day++) {
                const offset = counter + startDatOffset;
                const date = this.getDateWithOfset(year, month, offset);
                result.push(
                    this.createdObjectAccordingToMonth(date, month, year)
                );
                counter++;
            }
            return result;
        },

        getNumberOfWeeks(year, month) {
            let date = new Date(year, month + 1, 0);
            return (
                Math.ceil(
                    (date.getDate() - (date.getDay() ? date.getDay() : 7)) / 7
                ) + 1
            );
        },

        getDateWithOfset(year, month, offset) {
            return new Date(year, month, offset, 0, 0, 0, 0);
        },

        createdObjectAccordingToMonth(date, month, year) {
            if (date.getMonth() == month)
                return {
                    day: date.getDate(),
                    date:
                        year +
                        "-" +
                        this.convertTwoDigitNumber(date.getMonth() + 1) +
                        "-" +
                        this.convertTwoDigitNumber(date.getDate()),
                    class:
                        this.checkWeekend(date.getDay()) +
                        " " +
                        this.addClassToday(date),
                    key: randomKey(),
                };
            else
                return {
                    day: date.getDate(),
                    class: "month-different",
                    key: randomKey(),
                };
        },

        checkWeekend(day) {
            if (day == 0 || day == 6) return "weekend";
            return "work";
        },

        createdEventTime(day) {
            if (!day) return;
            let startTime = "";
            let endTime = "";
            this.$emit("getEventTime", { day, startTime, endTime });
        },

        showEventOnMonth(date, eventArr) {
            return eventArr
                .filter(
                    (itm) =>
                        this.setNullHours(itm.date) == this.setNullHours(date)
                )
                .map((itm) => {
                    return {
                        ...itm,
                        key: randomKey(),
                    };
                });
        },
    },
};
</script>
<style scoped>
.month-header,
.month-body {
    display: flex;
}

.month-header {
    border: 1px solid #d7d7d7;
    border-bottom: none;
}

.month-body {
    flex-wrap: wrap;
    border: 1px solid #d7d7d7;
}

.month-day,
.month-days {
    width: 14.28%;
}

.month-day {
    padding: 15px 0;
    background-color: #f5f6fa;
    color: #a3a6b4;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
}

.month-days {
    position: relative;
    min-height: 140px;
    padding-bottom: 2px;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: #ffffff;
    color: #4d4f5c;
    text-align: right;
    transition: all 0.3s ease-in-out;
}

.month-different {
    color: rgba(67, 66, 93, 0.3);
}

.month-body .month-days:nth-child(7n) {
    border-right: none;
}

.weekend {
    background: rgb(83 184 255 / 25%);
}

.work {
    background: rgb(255 83 83 / 25%);
}

.weekend:hover,
.work:hover {
    background: #fcfcfc;
}

.month-body .month-days:nth-last-child(-n + 7) {
    border-bottom: none;
}

.day {
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
}

.month-different .day {
    font-weight: normal;
}

.today {
    background: #fad60e25;
}

.event {
    position: relative;
    width: 100%;
}

.event-item {
    position: relative;
    z-index: 100;
    margin: 1px;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #3b86ff;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

@media screen and (max-width: 425px) {
    .event-item {
        padding: 5px;
        font-size: 12px;
    }
}
</style>
