<template>
    <div class="week">
        <div class="week-header">
            <div class="week-day"></div>
            <div class="week-day" v-for="day in week" :key="day.key">
                {{ day.name }}
            </div>
        </div>
        <div class="week-body">
            <div class="line" ref="line"></div>
            <div class="week-time">
                <div>Весь день</div>
                <div
                    v-for="hour in hours"
                    :key="hour"
                    :style="{ 'font-weight': setFontWeigthBold(hour) }"
                >
                    {{ hour }}
                </div>
            </div>
            <div
                class="week-time-content"
                v-for="day in week"
                :key="day.key"
                :class="day.class"
            >
                <div class="week-time-item" @click="createdEventTime(day)">
                    <span>all day</span>
                </div>
                <div
                    class="week-time-item"
                    v-for="hour in hours"
                    :key="hour"
                    @click="createdEventTime(day, hour)"
                >
                    <span>{{ hour }}</span>
                    <div class="event">
                        <div
                            v-for="itm in showEvent(hour, day.date, eventArr)"
                            class="event-item"
                            :key="itm.key"
                            :style="{ height: itm.height, top: itm.top }"
                            @click.stop
                            :title="itm.startTime + '-' + itm.shortName"
                        >
                            {{ itm.startTime }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import calendar from "@/mixins/calendar.mixin";
import randomKey from "@/untils/randomKey";
export default {
    name: "week",
    props: ["date", "nameDays", "hours", "eventArr"],
    data: () => ({
        week: [],
    }),
    created() {
        this.week = this.getWeekArr(this.date);
    },
    mounted() {
        this.setLineParemetrs(this.$refs.line);
    },
    mixins: [calendar],
    methods: {
        getWeekArr(date) {
            let currentDate = new Date(date);
            let week = [];
            this.setFirstDayOnWeek(currentDate);
            week = this.createdWeekArr(currentDate);
            this.$emit("getTitle", week);
            return week;
        },
        setFirstDayOnWeek(currentDate) {
            currentDate.setDate(
                currentDate.getDate() -
                    currentDate.getDay() +
                    this.getFirstDayOnWeek(currentDate.getDay())
            );
        },
        createdWeekArr(currentDate) {
            let week = [];
            for (let i = 0; i < 7; i++) {
                week.push(this.createdObjectWeek(currentDate, i));
                currentDate.setDate(currentDate.getDate() + 1);
            }
            return week;
        },
        createdObjectWeek(currentDate, numberDay) {
            return {
                name:
                    this.nameDays[numberDay] +
                    " " +
                    this.convertTwoDigitNumber(
                        new Date(currentDate).getDate()
                    ) +
                    "/" +
                    this.convertTwoDigitNumber(
                        new Date(currentDate).getMonth() + 1
                    ),
                day: new Date(currentDate).getDate(),
                month: new Date(currentDate).getMonth(),
                key: randomKey(),
                year: new Date(currentDate).getFullYear(),
                date: new Date(currentDate),
                class: this.addClassToday(currentDate),
            };
        },
        getFirstDayOnWeek(val) {
            if (val === 0) return -6;
            return 1;
        },
        createdEventTime(arrDay, startTime) {
            let time = "";
            let endTime = "";
            const day =
                arrDay.year +
                "-" +
                this.convertTwoDigitNumber(arrDay.month + 1) +
                "-" +
                this.convertTwoDigitNumber(arrDay.day);
            if (startTime) {
                time = startTime.split(":");
                endTime = this.convertTwoDigitNumber(+time[0] + 1) + ":00";
            }
            if (endTime === "24:00") endTime = "00:00";
            this.$emit("getEventTime", { day, startTime, endTime });
        },
    },
};
</script>
<style scoped>
.week {
    border: 1px solid #eaf0f4;
}

.week-header,
.week-body {
    position: relative;
    display: flex;
}

.week-header {
    border-bottom: 1px solid #eaf0f4;
    background-color: #f5f6fa;
}

.week-day,
.week-days {
    width: 13%;
    padding: 15px 0;
    color: #a3a6b4;
    text-align: center;
    font-weight: 700;
    font-size: 0.75rem;
}

.week-time-content {
    width: 13%;
    text-align: center;
}

.week-header .week-day:first-child,
.week-time {
    width: 9%;
}

.week-time div,
.week-time-item {
    position: relative;
    height: 48px;
    padding: 15px 0;
    border-right: 1px solid #eaf0f4;
    background-color: #ffffff;
    color: #4d4f5c;
    text-align: center;
    font-family: inherit;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.week-time div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.week-time-item span {
    display: block;
    visibility: hidden;
}

.week-time div:not(:last-child),
.week-time-item:not(:last-child) {
    border-bottom: 1px solid #eaf0f4;
}

.week-body .week-time-content:last-child .week-time-item {
    border-right: none;
}

.today .week-time-item {
    /* background-color: #f5f6fa; */
    background: #fad60e25;
}

.week-time-content .week-time-item:hover {
    background: #fcfcfc;
}

.line {
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 9%;
    width: 91%;
    height: 1px;
}

.line:before,
.line:after {
    content: "";
    position: absolute;
    display: block;
    background: #3b86ff;
}

.line:before {
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.line:after {
    top: -1px;
    left: 1px;
    width: 100%;
    height: 2px;
}

.event {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
}

.event-item {
    position: relative;
    z-index: 100;
    flex-grow: 1;
    min-height: 24px;
    margin: 1px;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #3b86ff;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

@media screen and (max-width: 425px) {
    .week-header .week-day:first-child,
    .week-time {
        width: 13%;
    }

    .week-time div:first-child {
        padding: 3px;
    }

    .line {
        left: 13%;
        width: 87%;
    }

    .week-time-content {
        flex-grow: 1;
    }

    .week-day,
    .week-days {
        padding: 15px 3px;
        font-size: 11px;
    }

    .event-item {
        padding: 3px;
        font-size: 12px;
    }
}
</style>