<template>
    <div id="app">
        <Calendar />
    </div>
</template>

<script>
import Calendar from "./components/Calendar.vue";

export default {
    name: "App",
    components: {
        Calendar,
    },
};
</script>


